.heroSection {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  user-select: none;
  isolation: isolate;
   will-change: transform, opacity;
   overflow: hidden;
   
}

.heroSection :global(.container) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 10dvh;
  position: relative;
  pointer-events: none;

}

.heroSection :global(.main-button){
  pointer-events: auto;
}

.heroBg {
  padding-top: 15dvh;
  padding-left: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heroBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    will-change: transform;


}


.heroDots{
  z-index: 0;
}



.heroSection h1 {
  font-size: clamp(6rem, 4vw, 8.8rem);
  font-weight: 600;
  width: 700px;
}

.heroSection p {
  font-size: clamp(1rem, 4vw, 2.4rem);
  font-weight: 400;
  margin-top: 49px;
  margin-bottom: 85px;
  width: 680px;
}


.heroContext {
  position: relative;
  z-index: 1; 
  display: inline-flex;  
  flex-direction: column;  
  pointer-events: auto; 
  pointer-events: none;


  
}
@media (max-width: 940px) {
.heroSection h1 {
  font-size: 4rem;
  width: 380px;
}
.heroSection p {
  font-size: 2rem;
  width: 350px;

}
}

@media (max-width: 450px) {
  .heroSection{
    height: 90dvh;
  }
.heroSection h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;

}
.heroSection p {
  font-size: 1.4rem;
  width: 100%;
  margin-top: 20px;
  text-align: center;

}

.heroSection :global(.main-button){
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
}

}
/* Mobilde DotGrid'i gizle, heroBg'yi göster */
