.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 35px 50px 35px;
  min-height: 550px;
  border-radius: 30px;
  position: relative;
  isolation: isolate;
  z-index: 1;
  backdrop-filter: blur(5px) saturate(143%);
  -webkit-backdrop-filter: blur(5px) saturate(143%);
  background-color: rgba(199, 226, 84, 0.58);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.cardTitle {
  font-size: 3.2rem;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 350px;
  font-weight: 600;
}

.cardDesc {
  max-width: 388px;
  font-size: 2.2rem;
  text-align: center;
}

@media (max-width: 750px) {
  .card {
    min-height: auto;
    height: 300px;
    padding:40px 20px 20px 20px;
  
  }
  .cardIcon {
    width: 70px;
    height: 70px;
  }
  .cardIcon svg {
    width: 100%;
    height: 100%;
  }
  .cardTitle {
    font-size: 2.8rem;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: none;
  }
  .cardDesc {
    max-width: 80%;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
 .cardIcon {
    width: 50px;
    height: 50px;
  }
   .cardTitle {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: none;
  }
  .cardDesc {
    max-width: 80%;
    font-size: 1.2rem;
  }
  .card{
    height: 220px;
    padding:20px 10px;
  }
}