.header {
  padding-top: 7dvh;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 30px 30px;
}

.headerLogo{
  position: relative;
  z-index: 5;
}

.invert img {
  filter: invert(0);
}
.scroll {
  padding-top: 20px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 1);
}

.header :global(.container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
}

.headerNav ul a {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.4s ease all;
}
.headerNav ul li:not(:last-child) a {
  padding: 15px;
}
.headerNav ul li:not(:last-child) {
  position: relative;
}
.headerNav ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: #c7e254;
  bottom: -5px;
  left: 0;
  border-radius: 10px;
  transition: 0.4s ease all;
}
.headerNav ul li:not(:last-child):hover a {
  color: #c7e254;
}

.headerNav ul li:not(:last-child):hover::after {
  width: 100%;
}

.headerNav ul li:last-child a:hover {
  border-radius: 40px;
  transition: 0.4s ease all;
  color: #111;
}

.headerNav ul li:last-child a:hover::before {
  opacity: 0;
  visibility: hidden;
}

.contactBtn {
  padding: 7px 33px;
  color: #c7e254;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBtn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/images/colored-border.svg");
  background-size: contain;
  background-repeat: no-repeat;
     transition: all 0.4s ease-in-out;


}

.contactBtn::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 41px;
  background: linear-gradient(
      99.38deg,
      #46338c 3.27%,
      #dac7f0 50%,
      #c7e254 96.73%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     transition: all 0.4s ease-in-out;
     isolation: isolate;
     z-index: -1;
}

.contactBtn:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}
/* Mobil Menü */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -200vw;
  width: 100vw;
  height: 100vh;
   background: #111 ;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.35s cubic-bezier(.86,0,.07,1);
  padding: 0;
  isolation: isolate;

}
.mobileMenu::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/mobile-menu.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

/* pulse animation*/


.mobileMenu.open {
  right: 0;
}

.mobileMenu ul {
  list-style: none;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.mobileMenu ul li{
   width: 100%;
}
.mobileMenu li a {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
  position: relative;
}
.mobileMenu li a:hover{
  color: #c7e254;
  transition: all 0.4s ease-in-out;
}

.mobileMenu .contactBtn {
 
  color: #fff;
  border-radius: 22px;
  padding: 10px 20px;
  font-size: 1.1rem;
  position: relative;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.mobileMenuBtn {
  display: none;
  margin-left: 16px;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 36px;
  padding: 0;
  z-index: 110;
  position: relative;
}

.bar {
  height: 2px;
  width: 100%;
  background: #fff;
  margin: 3px 0;
  border-radius: 2px;
  transition: all 0.3s;
  display: block;
}

/* Close icon çizgileri */
.closeBar1,
.closeBar2 {
  position: absolute;
  left: 8px;
  right: 8px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  top: 16px;
  width: 20px;
  transition: all 0.3s;
}
.closeBar1 {
  transform: rotate(45deg);
}
.closeBar2 {
  transform: rotate(-45deg);
}

@media (max-width: 900px) {
  .header{
    display: flex;
    align-items: center;
  }
  .headerNav ul a {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 15px;
  }
  .headerNav ul {
    gap: 0px;
  }
  .contactBtn {
    padding: 7px 30px;
  }
  .contactBtn::before {
    
    background-position: 50% 50%;
  }
   .headerNav {
    display: none;
  }
  .mobileMenuBtn {
    display: block;
  }
  .mobileMenu .contactBtn{
    padding:20px  10px;
    font-size: 3rem;
    border-radius: 0;
  }
  .mobileMenu .contactBtn::before,
  .mobileMenu .contactBtn::after {
  
   display: none;
  
}
}
@media (max-width: 450px) {
  .headerLogo{
  position: relative;
  z-index: 5;
  width: 170px;
}
.headerLogo img{
  width: 100%;
}
}



